/* cm.css */

body, input, button {
    font-family: Georgia, Times, serif;
}

body {
    background-color: #ffe;
}

input, button {
    vertical-align: middle;
    padding: 4px;
    font-size: medium;
}

button {
    border: 1px solid black;
    background: transparent;
}

button:hover {
    background: #ccc;
}

button:active {
    font-weight: bold;
    background: #000;
    color: #fff;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

#gManifesto {
    font-family: 'Corben', cursive;
    margin-top: -64px;
}

#manifestoFooter {
    font-size: x-small;
}

.eText {
    font-size: x-small;
    color: red;
}

.hText, #generatedDate, #crDisplay {
    color: grey;
}

#gContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
}

#gHeader {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #fee;
}

#gChangeRate {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#gUserText {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#gGenerate {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#gManifesto {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#gAgain {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#gHeader, #gChangeRate, #gGenerate, #gUserText, #gAgain {
    text-align: center;
}

#gChangeRate, #gUserText, #gGenerate, #gAgain {
    align-self: center;
    background: #dfd;
}
